.header{
background:#FF6600;
height:auto;
width:80%;
margin-left:10%;
margin-right:10%;
	
}
.body{
background:#F6F6EF;
height:	auto;
margin-top:-16px;
width:80%;
margin-left:10%;
margin-right:10%;

}
