<html>
<head>
<title>{%block head_title%} Welcome to Y {%endblock%}
</title>
   {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>

<body>
{%block title%} <div class='header'>
<img src= "https://news.ycombinator.com/y18.gif" height="1opx" width="10px">
<span style= margin-top: 5px;position: absolute;">Hacker News</span>

</div> {%endblock%}
{%block content%}
<p>{{title}}</p>
 {%if Forum %}
{%for w in Forum %}

</ul>
{%endfor%}

{%else% }
<p> There are no post </post>

{%endif%}
{%endblock%}
</body>
</html>
