{%extends "base.html"%}

<div class="body">
<p>
{ % block title % } Welcome to Forums { % endblock %}

{%block content%} 
{% if Forum %}
{% for F in Forum %}


<div class="secondary">
<p><span>{{F.id }} <a href=" {{counter }}">Upvote</a> </span>
<span><a href=" {{ F.linka }} ">	{{F.title }} </a></span>
<span class="grey"><a href=" {{ F.linkb }} ">( {{F.link }} ) </a></span>
</p>
<p><span>{{F.votes }} points </span> &nbsp; &nbsp; <span>by {{F.author }} </span> &nbsp; &nbsp; <span class="bdr"> &nbsp; &nbsp; {{F.time }}
 </span> </p></p>

</div>
{%endfor%}

{%else%}
<p> There are no post </post>

{%endif%}
<div class="footer secondary">
<div class="search">
<br>
<span class="ssearch"> 
Search:&nbsp; <input type="text" name="search"> <input type = "submit" name="submit" value="submit">
</span>
</div>
</div>
{%endblock%}





